@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Cantarell', sans-serif;
}

.pictureFooter {
    font-size: 15px;
    font-weight:500;
    white-space: normal;
    min-height: 10vh;
    background: #353737;
    margin: 0;
    color: #3CDEB8;
}
    .pictureFooter:hover {
        background: #3CDEB8;
        color: #353737;
    }

.myText {
    font-weight:500;
    font-size:25px;
}

.bike-img :hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.main_button {
    background: #353737;
    color: #3CDEB8; /* Your existing CSS rules */
}
.myContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.main_button {
    background: #353737;
    color: #3CDEB8;
    transition-duration: 0.5s;
}
    .main_button:hover {
        background-color: #3CDEB8;
        color: #353737;
        transition-duration: 0.5s;
    }

.darkProps {
    background: black;
    min-height: 300px;
    color: #3CDEB8;
    white-space: normal;
    font-family: 'Bangers', cursive;
}

.reviews{
    background:black;
}